main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

.table {
	margin-top: 2rem;
	width: 75%;
}

.table,
th,
td {
	border: 1px solid black;
	border-collapse: collapse;
}

th,
td {
	padding: 0.75rem;
}

button {
	padding: 5px;
	font-size: 1rem;
	cursor: pointer;
}
