<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/location.css" />
		<link
			rel="shortcut icon"
			href="image/restaurant.jpg"
			type="image/x-icon"
		/>
		<title>Restaurants : My Location</title>
	</head>
	<body>
		<header>
			<h1><a href="index.html">Restaurant🍽️</a></h1>
			<nav class="navigation-bar">
				<ul>
					<a href="restaurants.html">View Restaurants</a>
					<a href="measure.html">Measure</a>
					<a href="location.html">Location</a>
					<a href="distance.html">Distance</a>
					<a href="index.html#/list">Table</a>
				</ul>
			</nav>
		</header>
		<main id="location" v-cloak>
			<div id="display">
				<div class="container">
					<h3>Markers in circle</h3>
					<div
						class="circle"
						v-for="c of circleResult"
						@click="panTo(c)"
					>
						<img :src="c.m.image" />
						<p>Label: {{ c.m.label }}</p>
						<small
							>Distance: {{ c.distance | number(2) }}
							meters</small
						>
					</div>
				</div>
				<div class="container">
					<h3>Markers in rectangle</h3>
					<div
						class="rectangle"
						v-for="r of rectangleResult"
						@click="panTo(r)"
					>
						<img :src="r.m.image" />
						<p>Label: {{ r.m.label }}</p>
						<small
							>Distance: {{ r.distance | number(2) }}
							meters</small
						>
					</div>
				</div>
				<div class="container">
					<h3>Markers in polygon</h3>
					<div
						class="polygon"
						v-for="p of polygonResult"
						@click="panTo(p)"
					>
						<img :src="p.m.image" />
						<p>{{ p.m.label }}</p>
						<small
							>Distance: {{ p.distance | number(2) }}
							meters</small
						>
					</div>
				</div>
			</div>

			<div hidden>
				<div id="info">
					<h3>{{ label }}</h3>
					<p>Description: {{ description }}</p>
					<img :src="image" />
				</div>
			</div>
			<div id="map"></div>
		</main>
	</body>
	<script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-firestore.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=&libraries=drawing,geometry"></script>
	<script src="js/jquery.slim.js"></script>
	<script src="js/vue.js"></script>
	<script src="js/app.js"></script>
	<script>
		// Firebase
		firebase.initializeApp({
			projectId: 'ewt-assignment-2',
		});

		const ref = firebase.firestore().collection('markers');

		// Vue
		const vm = new Vue({
			el: '#location',
			data: {
				markers: [],
				circleResult: [],
				rectangleResult: [],
				polygonResult: [],
				id: '',
				label: '',
				description: '',
				image: '',
			},
			methods: {
				panTo(result) {
					map.panTo(result.m.position);
					result.m.setAnimation(gm.Animation.BOUNCE);
					setTimeout(() => result.m.setAnimation(null), 3000);

					gm.event.trigger(result.m, 'click');
				},
			},
			created() {
				ref.get().then((snapshot) => {
					snapshot.docs.forEach((doc) => {
						addMarker(doc.id, doc.data());
					});
				});
			},
			mounted() {
				$(document).keydown((e) => {
					switch (e.key) {
						case 'Escape':
						case '0':
							mgr.setDrawingMode(null);
							break;
						case '1':
							mgr.setDrawingMode('circle');
							break;
						case '2':
							mgr.setDrawingMode('rectangle');
							break;
						case '3':
							mgr.setDrawingMode('polygon');
							break;
					}
				});
			},
		});

		// Google map
		const gm = google.maps;

		const center = new gm.LatLng(5.45308771297349, 100.28485303986125);

		const map = new gm.Map($('#map')[0], {
			center,
			zoom: 16,
			disableDefaultUI: true,
			clickableIcons: false,
			disableDoubleClickZoom: true,
			fullscreenControl: true,
		});

		// Drawing manager
		const mgr = new gm.drawing.DrawingManager({
			map,
			drawingControlOptions: {
				drawingModes: ['circle', 'rectangle', 'polygon'],
				position: gm.ControlPosition.TOP_RIGHT,
			},
			circleOptions: {
				draggable: true,
				strokeColor: 'red',
				fillColor: 'red',
			},
			rectangleOptions: {
				draggable: true,
				strokeColor: 'green',
				fillColor: 'green',
			},
			polygonOptions: {
				draggable: true,
				strokeColor: 'blue',
				fillColor: 'blue',
			},
		});

		let circle = null;
		let rectangle = null;
		let polygon = null;

		mgr.addListener('overlaycomplete', (e) => {
			switch (e.type) {
				case 'circle':
					let c = e.overlay;
					updateCircle(c);
					break;
				case 'rectangle':
					let r = e.overlay;
					updateRectangle(r);
					break;
				case 'polygon':
					let p = e.overlay;
					updatePolygon(p);
					break;
			}
		});

		mgr.addListener('circlecomplete', (o) => {
			o.setMap(null);
			setCircle(o);
		});

		function setCircle(o) {
			if (circle) {
				circle.setMap(null);
			}

			circle = new gm.Circle({
				map,
				center: o.center,
				radius: o.radius,
				draggable: true,
				strokeColor: 'red',
				fillColor: 'red',
			});

			circle.addListener('click', (e) => {
				updateCircle(circle);
			});

			circle.addListener('drag', (e) => {
				updateCircle(circle);
			});
		}

		function updateCircle(c) {
			// reset markers
			vm.markers.forEach((m) => m.setIcon(null));
			vm.circleResult = [];

			// check whether there are markers in the circle radius
			let radius = c.radius;
			for (let m of vm.markers) {
				let p1 = c.center;
				let p2 = m.position;
				let distance = gm.geometry.spherical.computeDistanceBetween(
					p1,
					p2
				);

				if (distance <= radius) {
					m.setIcon('image/blue.png');
					vm.circleResult.push({
						m,
						distance,
					});
				}
			}
		}

		mgr.addListener('rectanglecomplete', (o) => {
			o.setMap(null);
			setRectangle(o);
		});

		function setRectangle(o) {
			if (rectangle) {
				rectangle.setMap(null);
			}

			rectangle = new gm.Rectangle({
				map,
				bounds: o.bounds,
				draggable: true,
				strokeColor: 'green',
				fillColor: 'green',
			});

			rectangle.addListener('click', (e) => {
				updateRectangle(rectangle);
			});

			rectangle.addListener('drag', (e) => {
				updateRectangle(rectangle);
			});
		}

		function updateRectangle(r) {
			// reset markers
			vm.markers.forEach((m) => m.setIcon(null));
			vm.rectangleResult = [];

			for (let m of vm.markers) {
				let inside = r.getBounds().contains(m.position);
				if (inside) {
					m.setIcon('image/purple.png');
					// calculate distance of marker from center of rectangle
					let p1 = r.getBounds().getCenter();
					let p2 = m.position;
					let distance = gm.geometry.spherical.computeDistanceBetween(
						p1,
						p2
					);
					vm.rectangleResult.push({
						m,
						distance,
					});
				}
			}
		}

		mgr.addListener('polygoncomplete', (o) => {
			o.setMap(null);
			setPolygon(o.getPath());
		});

		function setPolygon(path) {
			if (polygon) {
				polygon.setMap(null);
			}

			// Create a new polygon based on the path given
			polygon = new gm.Polygon({
				map,
				path,
				draggable: true,
				strokeColor: 'blue',
				fillColor: 'blue',
			});

			polygon.addListener('click', (e) => {
				updatePolygon(polygon);
			});

			polygon.addListener('drag', (e) => {
				updatePolygon(polygon);
			});
		}

		function updatePolygon(p) {
			// reset markers
			vm.markers.forEach((m) => m.setIcon(null));
			vm.polygonResult = [];

			for (let m of vm.markers) {
				let inside = gm.geometry.poly.containsLocation(
					m.getPosition(),
					p
				);
				if (inside) {
					m.setIcon('image/orange.png');
					// calculate distance of marker from center of polygon
					let p1 = p.map.getCenter();
					let p2 = m.position;
					let distance = gm.geometry.spherical.computeDistanceBetween(
						p1,
						p2
					);
					vm.polygonResult.push({
						m,
						distance,
					});
				}
			}
		}

		const info = new gm.InfoWindow({
			content: $('#info')[0],
		});

		info.addListener('domready', (e) => {
			$('#info input').focus();
		});

		function addMarker(id, data) {
			let m = new gm.Marker({
				map,
				animation: gm.Animation.DROP,
				draggable: false,
				id,
				position: data.position,
				label: data.label,
				description: data.description,
				image: data.image,
			});

			vm.markers.push(m);

			m.addListener('click', (e) => {
				vm.id = m.id;
				vm.label = m.label;
				vm.description = m.description;
				vm.image = m.image;
				info.open(map, m);
			});
		}
	</script>
</html>
